hmmlearn
scipy
prompt-toolkit
pympler
pivottablejs
pandas
seaborn
scikit-survival
xgboost
IPython
rpy2
tzlocal
lifelines
gpyopt
requests
tqdm
jupyter 
ipywidgets
numpy
argparse
statsmodels
sklearn
ipython
sets
termcolor
pyro-ppl
gplearn
lime
shap