[submodule "ox-policy-tracker"]
	path = alg/compartmental_gp/ox-policy-tracker
	url = https://github.com/OxCGRT/covid-policy-tracker.git
[submodule "ts-data"]
	path = alg/compartmental_gp/ts-data
	url = https://github.com/CSSEGISandData/COVID-19.git
[submodule "alg/CATENets"]
	path = alg/CATENets
	url = https://github.com/vanderschaarlab/CATENets
