[submodule "ox-policy-tracker"]
	path = alg/compartmental_gp/ox-policy-tracker
	url = https://github.com/OxCGRT/covid-policy-tracker.git
[submodule "ts-data"]
	path = alg/compartmental_gp/ts-data
	url = https://github.com/CSSEGISandData/COVID-19.git
[submodule "alg/CATENets"]
	path = alg/CATENets
	url = https://github.com/vanderschaarlab/CATENets
[submodule "alg/Synthetic-Controls-in-Continuous-Time"]
	path = alg/Synthetic-Controls-in-Continuous-Time
	url = git@github.com:vanderschaarlab/Synthetic-Controls-in-Continuous-Time.git
[submodule "alg/organsync"]
	path = alg/organsync
	url = git@github.com:vanderschaarlab/organsync.git
[submodule "alg/Fourier-flows"]
	path = alg/Fourier-flows
	url = https://github.com/vanderschaarlab/Fourier-flows
[submodule "alg/DECAF"]
	path = alg/DECAF
	url = https://github.com/vanderschaarlab/DECAF
[submodule "alg/MIRACLE"]
	path = alg/MIRACLE
	url = https://github.com/vanderschaarlab/MIRACLE
[submodule "alg/medkit-learn"]
	path = alg/medkit-learn
	url = https://github.com/vanderschaarlab/medkit-learn
[submodule "alg/iTransplant"]
	path = alg/iTransplant
	url = https://github.com/vanderschaarlab/iTransplant
[submodule "alg/Simplex"]
	path = alg/Simplex
	url = https://github.com/vanderschaarlab/Simplex
