[submodule "ox-policy-tracker"]
	path = alg/compartmental_gp/ox-policy-tracker
	url = https://github.com/OxCGRT/covid-policy-tracker.git
[submodule "ts-data"]
	path = alg/compartmental_gp/ts-data
	url = https://github.com/CSSEGISandData/COVID-19.git
[submodule "alg/CATENets"]
	path = alg/CATENets
	url = https://github.com/vanderschaarlab/CATENets
[submodule "alg/Synthetic-Controls-in-Continuous-Time"]
	path = alg/Synthetic-Controls-in-Continuous-Time
	url = git@github.com:vanderschaarlab/Synthetic-Controls-in-Continuous-Time.git
[submodule "alg/organsync"]
	path = alg/organsync
	url = git@github.com:vanderschaarlab/organsync.git
[submodule "alg/Fourier-flows"]
	path = alg/Fourier-flows
	url = https://github.com/vanderschaarlab/Fourier-flows
[submodule "alg/DECAF"]
	path = alg/DECAF
	url = https://github.com/vanderschaarlab/DECAF
[submodule "alg/MIRACLE"]
	path = alg/MIRACLE
	url = https://github.com/vanderschaarlab/MIRACLE
[submodule "alg/medkit-learn"]
	path = alg/medkit-learn
	url = https://github.com/vanderschaarlab/medkit-learn
[submodule "alg/Simplex"]
	path = alg/Simplex
	url = https://github.com/vanderschaarlab/Simplex
[submodule "alg/Dynamask"]
	path = alg/Dynamask
	url = https://github.com/vanderschaarlab/Dynamask
[submodule "alg/Hybrid-ODE-NeurIPS-2021"]
	path = alg/Hybrid-ODE-NeurIPS-2021
	url = https://github.com/vanderschaarlab/Hybrid-ODE-NeurIPS-2021
[submodule "alg/SyncTwin-NeurIPS-2021"]
	path = alg/SyncTwin-NeurIPS-2021
	url = https://github.com/vanderschaarlab/SyncTwin-NeurIPS-2021.git
[submodule "alg/conformal-rnn"]
	path = alg/conformal-rnn
	url = https://github.com/vanderschaarlab/conformal-rnn.git
[submodule "alg/Single-Cause-Perturbation-NeurIPS-2021"]
	path = alg/Single-Cause-Perturbation-NeurIPS-2021
	url = https://github.com/vanderschaarlab/Single-Cause-Perturbation-NeurIPS-2021
[submodule "alg/Invariant-Causal-Imitation-Learning"]
	path = alg/Invariant-Causal-Imitation-Learning
	url = https://github.com/vanderschaarlab/Invariant-Causal-Imitation-Learning.git
[submodule "alg/lori"]
	path = alg/lori
	url = https://github.com/vanderschaarlab/lori.git
[submodule "alg/inverse-online"]
	path = alg/inverse-online
	url = https://github.com/vanderschaarlab/inverse-online.git
[submodule "alg/D-CODE-ICLR-2022"]
	path = alg/D-CODE-ICLR-2022
	url = https://github.com/vanderschaarlab/D-CODE-ICLR-2022.git
[submodule "alg/Graphical-modelling-continuous-time"]
	path = alg/Graphical-modelling-continuous-time
	url = https://github.com/vanderschaarlab/Graphical-modelling-continuous-time
[submodule "alg/Label-Free-XAI"]
	path = alg/Label-Free-XAI
	url = https://github.com/vanderschaarlab/Label-Free-XAI
[submodule "alg/invconban"]
	path = alg/invconban
	url = https://github.com/vanderschaarlab/invconban
[submodule "alg/Symbolic-Pursuit"]
	path = alg/Symbolic-Pursuit
	url = git@github.com:vanderschaarlab/Symbolic-Pursuit.git
[submodule "alg/Data-SUITE"]
	path = alg/Data-SUITE
	url = https://github.com/vanderschaarlab/Data-SUITE
[submodule "alg/TE-CDE"]
	path = alg/TE-CDE
	url = https://github.com/vanderschaarlab/TE-CDE
[submodule "alg/CARs"]
	path = alg/CARs
	url = https://github.com/vanderschaarlab/CARs
[submodule "alg/Data-IQ"]
	path = alg/Data-IQ
	url = https://github.com/vanderschaarlab/Data-IQ
[submodule "alg/Composite-Feature-Selection"]
	path = alg/Composite-Feature-Selection
	url = https://github.com/vanderschaarlab/Composite-Feature-Selection
[submodule "alg/HTCE-learners"]
	path = alg/HTCE-learners
	url = https://github.com/vanderschaarlab/HTCE-learners
[submodule "alg/synthetic-model-combination"]
	path = alg/synthetic-model-combination
	url = https://github.com/vanderschaarlab/synthetic-model-combination
