chardet==3.0.4
cycler==0.10.0
decorator==4.4.2
GPy==1.9.9
idna==2.9
joblib==0.15.1
kiwisolver==1.2.0
matplotlib==3.2.1
numpy==1.18.5
opossum==0.2.1
panda==0.3.1
pandas==1.0.4
paramz==0.9.5
patsy==0.5.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
requests==2.23.0
scikit-learn==0.23.1
scipy==1.4.1
seaborn==0.10.1
six==1.15.0
sklearn==0.0
statsmodels==0.11.1
threadpoolctl==2.1.0
urllib3==1.25.9
wincertstore==0.2
